

	<!-- Page top section start -->
	<div class="page-top-area set-bg" data-setbg="img/neon.jpg">
		<div class="breadcrumb-area">
			<a href="#">Home</a> / <span>About Me</span>
		</div>
	</div>
	<!-- Page top section end -->


	<!-- Intro section start -->
	<section class="intro-section sp-pad spad">
		<div class="container-fluid p-0">
			<div class="row">
				<div class="col-xl-8 intro-text">
					
					<h3 class="sp-title">LET'S KNOW ABOUT ME</h3>
					<p>Hey,this is my homepage. I am Gargi Soni and I am 24 years old.My home country is INDIA and I have completed my graduation in B.Sc in INFORMATION TECHNOLOGY. After completing my graduation I have applied to Centennial College in CANADA and persuing SOFTWARE ENGINEERING TECHNICIAN FAST TRACK course.I have completed my DIGITAL MARKETING course as well from GOOGLE.</p>
					<p>Click Here to view my Resume.. <a href= "img/resume.pdf" target ="_blank" >resume</a> </p>

				</div>
				<div class="col-xl-3 offset-xl-1">
					<figure class="intro-img mt-5 mt-xl-0">
						<img src="img/pp.jpg" style="height:430px;width:450px" alt="">
					</figure>
				</div>
			</div>
		</div>
	</section>
	<!-- Intro section end -->


	<!-- Progress section start -->
	<div class="progress-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-3 col-md-6 cp-item">
					<div class="circle-progress" data-cpid="id-1" data-cpvalue="75" data-cpcolor="#787878" data-cptitle="Inspiration"></div>
				</div>
				<div class="col-xl-3 col-md-6 cp-item">
					<div class="circle-progress" data-cpid="id-2" data-cpvalue="59" data-cpcolor="#787878" data-cptitle="Peace"></div>
				</div>
				<div class="col-xl-3 col-md-6 cp-item">
					<div class="circle-progress" data-cpid="id-3" data-cpvalue="100" data-cpcolor="#787878" data-cptitle="hard work"></div>
				</div>
				<div class="col-xl-3 col-md-6 cp-item">
					<div class="circle-progress" data-cpid="id-4" data-cpvalue="83" data-cpcolor="#787878" data-cptitle="LOve"></div>
				</div>
			</div>		
		</div>
	</div>
	<!-- Progress section end -->


	<!-- Review section start -->
	<section class="review-section spad sp-pad set-bg" data-setbg="img/review-bg.jpg">
		<div class="container-fluid p-0 review-warp">
			<div class="row">
				<div class="col-xl-4">
					
					<h3 class="sp-title">Clients testimonials</h3>
				</div>
				<div class="col-xl-7 offset-xl-1">
					<div class="review-slider owl-carousel">
						<div class="rs-item">
							<div class="qute"></div>
							<p>I really want to thank GARGI SONI for delivering fantastic results on our campaign. She is not just any Software engineer she really knows what she is doing. Her services has been great catalyst for our growth. Thankyou... GARGI SONI </p>
							<figure class="client-pic">
								<img src="img/client.jpg" alt="#">
							</figure>
							<h4>ANMOL ARORA, Client</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Review section end -->


	<!-- Work nav section start -->
	
	<!-- Work nav section end -->


	