


	<!-- Hero section start -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item set-bg sp-pad" data-setbg="img/hero-slider/1.jpg">
				<div class="hs-text" style="text-align: center;">
					<h1 style="color: white;">GARGI SONI</h1>
					<p style="font-size:22px;color: white;">WELCOME TO MY WEB APPLICATION DEVELOPMENT ASSIGNMENT</p>
				</div>
			</div>	
		</div>
	</section>
	<!-- Hero section end -->

	


	



	


	
	