<!-- Hero section start -->
<section class="hero-section">
    <div class="hero-slider owl-carousel">
        <div class="hs-item set-bg sp-pad" data-setbg="img/hero-slider/1.jpg">
            <div class="hs-text" style="text-align: center;">
                <br/>
                <br/>
                <br/>
                <br/>
                <form action="login" method="POST" class="loginForm">
                    <h2>Login</h2>
                    <br/>
                    <h4>Email Id:</h4>
                    <input type="text" placeholder="email" name="email"/>
                    <br/>
                    <h4>password:</h4>
                    <input type="password" placeholder="password" name="password"/>
                    <br/>
                    <br/>
                    <button class="loginButton">Login</button>
                </form>
            </div>
        </div>	
    </div>
</section>
<!-- Hero section end -->