<!-- Page top section start -->
<div class="page-top-area set-bg" data-setbg="img/headers-bg/3.jpg">
	<div class="breadcrumb-area">
		<a href="#">Home</a> / <span>Project</span>
	</div>
</div>
<!-- Page top section end -->


<!-- Portfolio section start -->
<section class="portfolio-section">
	<div class="sp-pad spad">
		<!-- portfolio filter menu -->
		
	</div>
	<div class="portfolio-warp">
		<!-- single item -->
		<div class="mix single-portfolio set-bg wedding" data-setbg="img/portfolio/j.png">
			<a href="#" class="portfolio-info">
				<div class="pfbg set-bg" data-setbg="img/portfolio/j.png"></div>
				<h5 style="color: black;">JAVA</h5>
				<p style="color: black;">AIRLINE RESERVATION SYSTEM: The proposed airline reservation system is a web-based Java project. It is a comprehensive passenger processing system that includes inventory, fares, e-ticket operations, and online transactions.</p>
			</a>
		</div>
		<!-- single item -->
		<div class="mix single-portfolio set-bg wedding" data-setbg="img/portfolio/iot1.png">
			<a href="#" class="portfolio-info">
				<div class="pfbg set-bg" data-setbg="img/portfolio/iot1.png"></div>
				<h5 style="color: black;">INTERNET OF THINGS</h5>
				<p style="color: black;">SMART IRRIGATION SYSTEM :Using arduino based system to water the plants according to soil temperature.</p>
			</a>
		</div>
		<!-- single item -->
		<div class="mix single-portfolio set-bg land" data-setbg="img/portfolio/python.jpg">
			<a href="#" class="portfolio-info">
				<div class="pfbg set-bg" data-setbg="img/portfolio/python.jpg"></div>
				<h5 style="color: black;">PYTHON</h5>
				<p style="color: black;">HANGMAN GAME:The objective of this project is to implement the hangman game using Python. This project doesn’t require any external modules rather just need random and time modules of Python.</p>
			</a>
		</div>
		<!-- single item -->
		<div class="mix single-portfolio sm-wide set-bg port" data-setbg="img/portfolio/cs.jpg">
			<a href="#" class="portfolio-info">
				<div class="pfbg set-bg" data-setbg="img/portfolio/cs.jpg"></div>
				<h5 style="color: black;">CYBER SECURITY</h5>
				<p style="color: black;">INTRUSION DETECTION SYSTEM :classification model to identify an intrusion in the given network using machine learning algorithms.</p>
			</a>
		</div>
		<!-- single item -->
		<div class="mix single-portfolio sm-wide set-bg photo" data-setbg="img/portfolio/bb.jpg">
			<a href="#" class="portfolio-info">
				<div class="pfbg set-bg" data-setbg="img/portfolio/bb.jpg"></div>
				<h5 style="color: black;"5>ROBOTICS</h5>
				<p style="color: black;">TITLE: NAMASTE GREETING ROBOT.Used arduino board as its heart.if it finds people near by it greets them with NAMASTE.</p>
			</a>
		</div>
		<!-- single item -->
		<div class="mix single-portfolio set-bg wedding" data-setbg="img/portfolio/ai.jpg">
			<a href="#" class="portfolio-info">
				<div class="pfbg set-bg" data-setbg="img/portfolio/ai.jpg"></div>
				<h5 style="color: black;"5>ARTIFICIAL INTELLIGENCE</h5>
				<p style="color: black;">TITLE :PREDECTIVE MODELLING using Machine Learning Algorithms. To predict the propency score of churning of an employee in insurance company.</p>
			</a>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="sp-pad next-portfolio-link">
		<a href="#" class="arrow-btn">
			<i class="fa fa-angle-right"></i>
			<i class="fa fa-angle-right"></i>
			<i class="fa fa-angle-right"></i>
		</a>
	</div>
	
</section>
<!-- Portfolio section end -->


