
	<!-- Page top section start -->
	<div class="page-top-area set-bg" data-setbg="img/headers-bg/3.jpg">
		<div class="breadcrumb-area">
			<a href="#">Home</a> / <span>Service</span>
		</div>
	</div>
	<!-- Page top section end -->


	<!-- Portfolio section start -->
	<section class="portfolio-section">
		<div class="sp-pad spad">
			<!-- portfolio filter menu -->
			
		</div>
		<div class="portfolio-warp">
			<!-- single item -->
			<div class="mix single-portfolio set-bg photo" data-setbg="img/portfolio/java1.jpg">
				<a href="#" class="portfolio-info">
					<div class="pfbg set-bg" data-setbg="img/portfolio/java1.jpg"></div>
					<h5>JAVA</h5>
					<p></p>
				</a>
			</div>
			<!-- single item -->
			<div class="mix single-portfolio set-bg wedding" data-setbg="img/portfolio/IOT.jpg">
				<a href="#" class="portfolio-info">
					<div class="pfbg set-bg" data-setbg="img/portfolio/IOT.jpg"></div>
					<h5>INTERNET OF THINGS</h5>
					<p></p>
				</a>
			</div>
			<!-- single item -->
			<div class="mix single-portfolio set-bg land" data-setbg="img/portfolio/python1.jpg">
				<a href="#" class="portfolio-info">
					<div class="pfbg set-bg" data-setbg="img/portfolio/python1.jpg"></div>
					<h5>PYTHON</h5>
					<p></p>
				</a>
			</div>
			<!-- single item -->
			<div class="mix single-portfolio sm-wide set-bg port" data-setbg="img/portfolio/cy1.jpg">
				<a href="#" class="portfolio-info">
					<div class="pfbg set-bg" data-setbg="img/portfolio/cy1.jpg"></div>
					<h5>CYBER SECURITY</h5>
					<p></p>
				</a>
			</div>
			<!-- single item -->
			<div class="mix single-portfolio sm-wide set-bg photo" data-setbg="img/portfolio/robotics.jpg">
				<a href="#" class="portfolio-info">
					<div class="pfbg set-bg" data-setbg="img/portfolio/robotics.jpg"></div>
					<h5>ROBOTICS</h5>
					<p></p>
				</a>
			</div>
			<!-- single item -->
			<div class="mix single-portfolio set-bg wedding" data-setbg="img/portfolio/ai.jpg">
				<a href="#" class="portfolio-info">
					<div class="pfbg set-bg" data-setbg="img/portfolio/ai.jpg"></div>
					<h5>ARTIFICIAL INTELLIGENCE</h5>
					<p></p>
				</a>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="sp-pad next-portfolio-link">
			<a href="#" class="arrow-btn">
				<i class="fa fa-angle-right"></i>
				<i class="fa fa-angle-right"></i>
				<i class="fa fa-angle-right"></i>
			</a>
		</div>
	</section>
	<!-- Portfolio section end -->


