
	<!-- Header section start -->
	<header class="header-section sp-pad">
		<p style="color: white;margin-left: 10px;font-size: 15px;">ASSIGNMENT 2 , NAME: GARGI SONI , STUDENT ID: 301106486 , 23-OCTOBER-2020 </p>
		<br>
		<img src="img/cc.png">
		<!-- <form class="search-top">
			<button class="se-btn"><i class="fa fa-search"></i></button>
			<input type="text" placeholder="Search.....">
		</form> -->
		<div class="nav-switch">
			<i class="fa fa-bars"></i>
		</div>
		<nav class="main-menu">
			<ul>
				<li><a href="home">Home</a></li>
				<li><a href="about">about me</a></li>
				<li><a href="service">Services</a></li>
				<li><a href="portfolio.ejs">Project</a></li>
				<li><a href="contact">Contact</a></li>
				<li><a href="login">Login</a></li>
			</ul>
		</nav>
	</header>
	<!-- Header section end -->
